body {
	font-family: "Verdana", Sans, serif;
	font-size:15px;

}

.clear {
	clear:both;
}

#scalePiano {
	margin:auto;
	margin-bottom:10px;
	text-align:center;
}

#scaleInspector {
	overflow:auto;
	margin-bottom:10px;
	border-style:solid;
	border-width:1px;
}

.scale-block {
	width:14.17%;
	float:left;
	text-align:center;
	border-right-style:solid;
	border-right-width:1px;
}

#o7scale {
	border-right-style:none;
}

.scale-root {
	padding:5px;
}

#container {
	margin-left:auto;
	margin-right:auto;
	width:750px;
}

#title {
	float:left;
	width:30%;
}

#input {
	width:70%;
	float:left;
	text-align:right;
}

#output {
	display:none;
}

#output-title {
	padding-bottom:10px;
	padding-top:10px;
	font-weight:bold;
}

#keyInspector {
	border-style:solid;
	border-width:1px;
	overflow:auto;
}

.key-block {
	float:left;
	width:14.17%;
	text-align:center;
	border-right-style:solid;
	border-right-width:1px;
}

#o7 {
	border-right-style:none;
}

.roman {
	text-align:center;
	font-weight:bold;
	padding:5px;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.chord-root {
	padding:8px;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.chord-type {
	padding:8px;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.notes-block {
	padding:8px;
	padding-bottom:70px;
}

.note-divi {
	width:40%;
	float:left;
	font-weight:bold;
	font-size:12px;
	line-height:20px;
}

.note {
	width:60%;
	float:left;
	font-size:13px;
	line-height:20px;
}