body {
	font-family: "Verdana", Sans, serif;
	font-size:15px;
}

.clear {
	clear:both;
}

#container {
	margin-left:auto;
	margin-right:auto;
	width:750px;
}

.output-title {
	padding-bottom:3px;
	font-weight:bold;
}

.output-block {
	float:left;
	width:14%;
}

.note-divi {
	width:40%;
	float:left;
	font-weight:bold;
	font-size:12px;
}

.note {
	width:60%;
	float:left;
	font-size:13px;
}

.chord-output {
	padding:5px;
}

.chord-note {
	padding:5px;
}

.chord-type {
	padding:4px;
	padding-bottom:10px;
}

.roman {
	padding:3px;
	font-weight:bold;
}

#input {
	width:70%;
	float:left;
	text-align:right;
}

#title {
	float:left;
	width:30%;
}